body {
font-family: 'Ubuntu Mono', monospace;
background-color: #202020;
}
header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 47px;
	width: 90%;
}
header h1 {
	color: #095386;
	text-align: center;
	font-size: 25px;
}
main {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
.infoblock {
	display: block;
	min-width: 250px;
	height: 250px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border-radius: 10px;
	color: #202020;
}
/*Css for Current speed*/
.speed {
	background-color: #ff829a;
}
.speed .current {
	color: white;
	display: block;
	position: relative;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin-top: 7px;
}
.speednumber {
	display: block;
	width: 120px;
	height: 35px;
	border: solid #202020; 
	border-radius: 5px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 46px;
	position: relative;
}
.speednumber p {
	float: right;
	margin-top: -19px;
	margin-right: 7px;
}
.speednumber span {
	font-size: 24px;
	display: block;
	margin-top: 4px;
	margin-left: 10px;
}

#logo {
    display: inline-block;
    position: relative;
}
#logo .speedometer {
    width: 190px;
    height: 190px;
    border-radius: 100%;
    border: 20px solid white;
    border-right: 20px solid #ff829a;
    border-bottom: 20px solid #ff829a;
    -webkit-transform: rotate(45deg);
    display: inline-block;
    margin-left: 13px;
    margin-top: 16px;
}
#logo .needle {
    width: 5px;
    height: 100px;
    background: #912137;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    left: 124px;
    position: absolute;
    top: 51px;
    -webkit-animation:move 4s;
    transform:rotate(65deg);
}
.speednumbers {
	color: #202020;
	font-size: 12px;
	position: relative;
	margin-top: -140px;
}
.number100 {
	display: block;
	margin-left: 40px;
	margin-top: 7px;
}
.number1000 {
	display: block;
	margin-left: 56px;
	margin-top: -65px;
}
.number10000 {
	display: block;
	margin-left: 96px;
	margin-top: -52px;
	
}
.number30000 {
	display: block;
	margin-left: 151px;
	margin-top: -15px;
	
}
.number60000 {
	display: block;
	margin-top: 27px;
	margin-left: 182px;
	
}
/*Css for Distance traveled*/
.distance {
	background-color: #6f159b;
	color: white;
}
.distance img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 120px;
	height: 120px;
}
.distance p {
	text-align: center;
	margin-top: 9px;
	font-size: 25px;
	font-weight: bold;
}
.distance div {
	display: block;
	background-color: #7751B8;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 80%;
	border: solid #202020;
	border-radius: 5px;
}
.distance div p {
	display: block;
	margin-left: 147px;
	margin-top: -29px;
}
.timer{
	display: block;
	margin-top: 9px;
	font-size: 30px;
	padding-left: 12px;
}
/*Css for Estimated time*/
.time {
	background-color: #7fdb86;
	color: white;
}
.time .timebar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -19px;
	background-color: white; 
	width: 220px;
	height: 30px;
	border: 3px solid #202020;
	border-radius: 5px;
}
.time .timebar2 {
	width: 66px;
	height: 30px;
	background-color: green; 
	animation: side 3s ease-out;
}
.time .timername {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.time .earth {
	margin-left: 12px;
}
.time .mars {
	margin-left: 114px;
}
.time p {
	text-align: center;
	margin-top: 2px;
	font-size: 25px;
	font-weight: bold;
}
.exacttime {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.time .amounttime p {
	display: block;
	padding: 3px;
	margin: 0;

}
.time .amounttime {
	background-color: green;
	border: 3px solid #202020;
	border-radius: 5px;
	margin-top: 5px;
}
.time .times p{
	text-align: left;
	padding: 4px;
	margin: 0;
}
.times {
	margin-top: 5px;
}


/*Css for Fuel*/
.fuel {
	background-color: #686868;
}
.fuelname {
	font-size: 40px;
	margin-top: -41px;
	margin-left: 20px;
}
.fuelleft {
	font-size: 25px;
	margin-top: -30px;
	margin-left: 125px;
}
.fuel img {
	margin-top: 61px;
	margin-left: 17px;
	width: 80px;
}
.fuel .fuelbar {
	display: block;
	width: 60px;
	height: 162px;
	margin-left: 123px;
	margin-top: -123px;
	background-color: #202020;;
	border: solid 5px #202020;
}
.fuel .fuelbar2 {
	margin-top: 177px;
	display: block;
	width: 60px;
	height: 65px;
	background-color: white ;
	animation: down2 3s ease-out;
}
.baramount {
	margin-left: 191px;
	margin-top: -168px;
}
.baramount p {
	padding-bottom: 16px;
}
.fuel .fuelbar .fuelamount {
	margin-top: -177px;
	margin-left: 138px;
}

/*Css for Water*/
.water {
	background-color: #60a6ff;
}
.watername {
	font-size: 40px;
	margin-top: -41px;
	margin-left: 20px;
}
.waterleft {
	font-size: 25px;
	margin-top: -30px;
	margin-left: 125px;
}
.water img {
	margin-top: 30px;
	margin-left: 8px;
	width: 115px;
}
.water .waterbar {
	display: block;
	width: 60px;
	height: 162px;
	margin-left: 123px;
	margin-top: -127px;
	background-color: #2F4FE4;
	border: solid 5px #2F4FE4;
}
.water .waterbar2 {
	margin-top: 177px;
	display: block;
	width: 60px;
	height: 98px;
	background-color: white ;
	animation: down 5s ease-out;
}
.water .waterbar .wateramount {
	margin-top: -177px;
	margin-left: 138px;
}

/*Keyframes for animations*/
@keyframes side {
	from {
		width: 0%;
	}
	to {
		width: 30%;
	}
}
@keyframes down {
	from {
		height: 0%;
	}
	to {
		height: 60%;
	}
}
@keyframes down2 {
	from {
		height: 0%;
	}
	to {
		height: 40%;
	}
}
@-webkit-keyframes move{
    0%{transform:rotate(-110deg);}

    100%{transform:rotate(65deg);}
    
}
/*Changes for Tablets */
@media screen and (min-width: 720px) {

}

/*Changes for Desktop */
@media screen and (min-width: 1025px) {
	
}

